body{
  height: 100vh;
  width: 100vw;
  background-color: #68b7e8 !important;
}

.App{
  display: grid;
  place-content: center;
  text-align: center;
}

.board{
  display:grid;
  grid-template-columns: repeat(8,80px);
  grid-template-rows: repeat(8,80px);
  width: 640px;
  height: 640px;
}

.white{
  background-color: #ffffff;
}

.black{
  background-color: #bfbfbf;
}

.tile{
  display: grid;
  place-content: center;
}

.tile .piece{
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.tile .piece:hover{
  cursor: grab;
}

.tile .piece:active{
  cursor: grabbing;
}