body{
  height: 100vh;
  width: 100vw;
  background-color: #1d2f0f;
  text-align: center;
}

.board{
  display:grid;
  place-content: center;
  grid-template-columns: repeat(8,80px);
  grid-template-rows: repeat(8,80px);
}

.white{
  background-color: #ffffff;
}

.black{
  background-color: #bfbfbf;
}

.tile{
  display: grid;
  place-content: center;
}

.tile .piece{
  cursor: grab;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}