body{
  background-color: #222 !important;
  color: white !important;
}

.App {
  text-align: center;
  width: 60%;
  margin: auto;
}

.paragraphs{
  background-color: #303030;
}

.count{
  width: 50%;
}