.App {
  text-align: center;
}

.text{
  border: black 1px solid;
  background-color: white;
}

body{
  background-color: #add5ff !important;
  font-size:x-large !important;
}

.mid{
  align-items: center;
  text-align: center;
}

.input{
  margin-top: 5%;
  font-size: x-large;
  width: 40%;
}

.timer{
  border: black 1px solid;
  background-color: white;
  font-size: x-large;
}

.gray{
  background-color: gray;
}

.green{
  color: green;
}

.red{
  color: red;
}